{% extends "base_generic.html" %}

{% block content %}
<h1>MONEY MOVE</h1>

<div >

  <h1><strong>SPENDING</strong></h1>
  <p>Введение расходной операции</p>
  
 
  {% if tuple_structured_spendingkind %}

    {% for tuple in tuple_structured_spendingkind %}
      
      <button value="{{tuple.0}}" type="button" id="but2" onclick="myFunction(value);"> {{tuple.0}} </button>
      
      {% for value in tuple.1 %}

        <button value="{{value.id}}" type="button" class="{{tuple.0}}" id="but3" style="background:#ffaca3; display: none;" onclick="myFunction_1(value);"> {{value.name}} </button>
      {% endfor %}
      </br>
    {% endfor %}
      
  {% endif %}

    
  <form action="" method="post">
    {% csrf_token %}
    
    <table class="table_income">
            
      <tr>
        <td class="label_my"> {{ form.date_field.label }} </td>
        <td class="enter_area"> {{ form.date_field }} </td>
      </tr>
      
      {%if form.date_field.errors %}
          <tr>
            <td> {{form.date_field.errors}} </td>
          </tr>
      {% endif %} 


      <tr>
        <td class="label_my" id="field2"> {{ form.kind.label }} </td>
        <td class="enter_area"> {{ form.kind }} <br><a id="myref" href="{% url 'add_new_spending_kind' %}">Добавить новый вид расхода </a> </td>
      </tr>

      {%if form.kind.errors %}
          <tr>
            <td> {{form.kind.errors}} </td>
          </tr>
      {% endif %}

      
      <tr>
        <td class="label_my"> {{ form.ammount.label }} </td>
        <td class="enter_area"> {{ form.ammount }} {{ form.ammount.help_text }} </td>
      </tr>
      
      {%if form.ammount.errors %}
          <tr>
            <td> {{form.ammount.errors}} </td>
          </tr>
      {% endif %}
      
      <tr>
        <td class="label_my"> {{ form.cash_kind_spending.label }} </td>
        <td class="enter_area"> {{ form.cash_kind_spending }} <br><a id="myref" href="{% url 'add_new_cashkind' %}"> Добавить новый вид имеющихся средств</a> </td>
      </tr>

      {%if form.cash_kind_spending.errors %}
          <tr>
            <td> {{form.cash_kind_spending.errors}} </td>
          </tr>
      {% endif %}

      <tr>
        <td class="label_my"> {{ form.comment.label }} </td>
        <td class="enter_area"> {{ form.comment }} </td>
      </tr>
    </table>
        
    <input type="submit" class= "submitBtn" value="Submit">
  </form>
<script>
  function myFunction(value){
    var inner = value;
    var br_class = "br_to_remove";
    if (document.getElementsByClassName(br_class)) {
      let br_all = document.getElementsByClassName(br_class);
      for (let br_1 of br_all) {
        br_1.remove(); 
        };
      }
        
    let buttons_to_hide = document.querySelectorAll("#but3");
   
    for (let but_1 of buttons_to_hide) {
      but_1.style.display = "none"; 
      };
    
    let buttons = document.getElementsByClassName(value);
    
    let br = document.createElement('br');
    br.className = br_class;
    buttons[0].before(br);

    for (let but of buttons) {
      but.style.display = "inline"; 
      };
    
    }
  
  function myFunction_1(value){
    var inner = value;
    let select_main = document.getElementById("id_kind");
    select_main.value = inner
    }

</script>

</div>

<div class="common">
  <h4>Общая информация о <br/><strong>расходных операциях</strong></h4>
      
            
      <li><strong>Количество операций расходных:</strong> {{ num_operations }}</li>
        <ul>
    	  <li><strong>из них за день:</strong> {{ num_operations_today }} </li>
        </ul>
      
    
    </ul>
</div>
{% endblock %}