{% extends "base_generic.html" %}

{% block content %}
<h1>MONEY MOVE <strong>SPENDINGS</strong></h1>

  <p>Введена расходная операция</p>

<div >
<li><strong>Источники расхода:</strong> </li>
<h1>SUCCESS</h1>
<h4>Добавлена запись в базу данных</h4>
</div>
<form action="{% url 'spendings' %}" method="get">
  <input style="width: 100px; background-color: #ebe65b;" type="submit" class="submitBtn" value="Back">
</form>

<form action="{% url 'index' %}" method="get">
  <input style="width: 100px; background-color: #ebe65b;" type="submit" class="submitBtn" value="Home">
</form>


{% endblock %}